footer {
  background-color: var(--footer-bg);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em 1em;
  gap: 2em;
  color: var(--white);

  article {
    flex: 1 1 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo {
    img {
      width: 70%;
      max-width: 180px;
    }

    .line {
      width: 80%;
      height: 1px;
      border-top: 1px solid #fff;
      margin: 0.5em 0;
    }

    span {
      font-size: 0.9em;
      line-height: 1.4;
    }
  }

  .menu {
    h4, span, a, li {
      color: var(--white);
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0.5em 0;
      li {
        cursor: pointer;
        margin-bottom: 0.25em;
        transition: color 0.3s ease;

        &:hover {
          color: var(--color1);
        }
      }
    }

    a {
      text-decoration: none;
      font-weight: 500;
      margin-top: 0.5em;
      display: inline-block;

      &:hover {
        color: var(--color1);
      }
    }
    span {
    display: flex;
    align-items: center; // Esto asegura el alineamiento vertical
    gap: 0.5em;
    margin: 0.25em 0;
    font-size: 0.95em;
  }

  mat-icon {
    font-size: 1.1em;
    height: 1.1em;
    width: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  }

  
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;

    article {
      width: 100%;
      max-width: 90%;
    }

    .logo img {
      width: 50%;
    }
  }
}
