  :host{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1700px;
  }
  .title{
    width: 95%;
  }
  .container{
  display: flex;
  width: 95%;
  justify-content: center;

}
